.test1{
    color:red
}

.LandingContainer{
    height:100vh;
    width:auto;
    background:linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1) 0%,
        #100848a0 10%,
        #00000000 50%,
        #00000000 70%,
        #100848a0 90%,
        rgba(0, 0, 0, 1) 100%
      ),url("../../assets/backgrounds/img2.png");
      background-attachment:fixed;

      background-position: center ;
}


@media screen and (max-width: 420px){
    .LandingContainer {
        max-width: 100vw;
        height: 100vh;
        background: url("../../assets/backgrounds/img2.png");
        background-attachment: scroll;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
/*  
    .landingtxt{
        display: none;
    } */
}


