.test1{
    color:red
}

.LandingContainer{
    height:100vh;
    background:linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1) 0%,
        #100848a0 10%,
        #00000000 50%,
        #00000000 70%,
        #100848a0 90%,
        rgba(0, 0, 0, 1) 100%
      ),url("../../assets/landing.jpg");
      background-attachment:fixed
}



