@import url(//db.onlinewebfonts.com/c/50cd2aad9c8f35800bb6beac3ad42f16?family=Azonix);
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@font-face {
    font-family: "Azonix"; 
    src: url("//db.onlinewebfonts.com/t/50cd2aad9c8f35800bb6beac3ad42f16.eot");
}

.pp-container{
    display: flex;
    margin: auto;
    width: 95%;
    height: 350px;
    background-image: url("../../assets/prizes/PRIZE-BG.jpg");
}

.pp-c1, .pp-c2{
    display: flex;
}

.pp-c1{
    width: 30%;
    padding-bottom: 10px;
}

.pp-c2{
    flex-direction: column;
    margin: auto;
    width: 70%;
    text-align: center;
}

.pp-img{
    height: 370px;
    width: 370px;
    margin-left: 15%;
}

.pp-heading, .pp-pool, .pp-amount, .pp-date{
    color: white;
    margin: 0;
    /* text-indent: 10px; */
    letter-spacing: 8px;
}

.pp-heading{
    font-family: Azonix;    
    font-size: xx-large;
    color: #A36CE0;
    margin-bottom: 10px;
}


.pp-pool{
    letter-spacing: 3px;
    padding-top: 10px;
    font-family: Poppins;
    font-size: larger;
    font-weight: 500;
    /* margin-top: 10px; */
}

.pp-amount{
    letter-spacing: 0px;
    font-size: xxx-large;
    font-weight: 500;
    color: rgb(252, 190, 33);
}

.pm{
    margin-top: 30px;
}

.first-pm{
    display: flex;
}

.first-pm-text{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-left: 20px;
}

.span-1{
    font-size: "x-large"
}

.first-pm-img{
    height: 300px;
    width: 420px;
    margin-left: 30%;
}

.first-pm-prize, .first-pm-amount{
    margin: auto;
    color: white;
    font-family: Azonix;
    font-size: xx-large;
}

.other-pm{
    margin-top: 30px;
    display: flex;
}

.other-pm-img{
    height: 250px;
    width: 350px;
    /* margin-left: 50px; */
}
.second-pm{
    display: flex;
    width: 50%;
    
}

.span-2{
    font-size: "large"
}

.second-pm-text{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-left: 0px;
}

.second-pm-prize, .second-pm-amount{
    margin: auto;
    color: white;
    font-family: Azonix;
    font-size: x-large;
}

.remaining-pm{
    display: flex;
    flex-direction: column;
    /* margin: auto; 
    padding-bottom: 30px; */

}

.third-pm-top, .third-pm-bottom{
    display: flex;
    justify-content: space-between;
}

.third-pm{
    margin-top: 15px;
    display: flex;
    /* margin-left: 50px; */
}

.third-pm-img{
    /* margin-left: 50px; */
    height: 100px;
    width: 100px;
}
.third-pm{
    display: flex;
    
}

.span-3{
    font-size: "medium"
}

.third-pm-text{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-left: 20px;
}

.third-pm-prize, .third-pm-amount{
    margin: auto;
    color: white;
    font-family: Azonix;
    font-size: large;
}

#ml1, #ml2{
    margin-left: 150px;
}

@media only screen and (max-width: 767px){
    
.pp-container{
    height: 150px;
}

/* .pp-c1{
    width: 30%;
    padding-bottom: 10px;
} */

.pp-c2{
    /* flex-direction: column;
    margin: auto;
    width: 70%;
    text-align: center; */
    margin-left: 7px;

}

.pp-img{
    height: 140px;
    width: 140px;
    margin-left: 0;
}

.pp-heading, .pp-pool, .pp-amount, .pp-date{
    letter-spacing: 3px;
}

.pp-heading{
    /* font-family: Azonix;     */
    font-size: 10px;
    /* color: #A36CE0; */
    margin-bottom: 5px;
}


.pp-pool{
    /* letter-spacing: 3px;
    padding-top: 10px;
    font-family: Poppins; */
    font-size: 5px;
    font-weight: 500;
    /* margin-top: 10px; */
}

.pp-amount{
    /* letter-spacing: 0px; */
    font-size: 12px;
    /* font-weight: 500;
    color: rgb(252, 190, 33); */
}

.pp-date{
    font-size: 3px;
}

.pm{
    margin-top: 30px;
}

/* .first-pm{
    display: flex;
} */

.first-pm-text{
    /* display: flex;
    flex-direction: column; */
    margin: auto;
    margin-left: 0px;
}

.first-pm-img{
    height: 100px;
    width: 150px;
    margin-left: auto;
}

.first-pm-prize, .first-pm-amount{
    /* margin: auto;
    color: white;
    font-family: Azonix; */
    font-size: 10px;
}
.span-1{
    font-size: 5px;
}

.other-pm{
    margin-top: 30px;
    display: flex;
}

.other-pm-img{
    margin-top: 20px;
    height: 100px;
    width: 100px;
    /* margin-left: 50px; */
}

.second-pm{
    /* display: flex; */
    width: 43%;
    
}

.second-pm-text{
    /* display: flex;
    flex-direction: column; */
    margin: auto;
    margin-left: 0px;
}

.second-pm-prize, .second-pm-amount{
    /* margin: auto;
    color: white;
    font-family: Azonix; */
    font-size: 10px;
}

.second-pm-prize{
    padding-top: 20px;
}

.span-2{
    font-size: 6px;
}

.remaining-pm{
    width: 57%;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    /* margin: auto; */
    /* padding-bottom: 30px; */

}

.third-pm-top, .third-pm-bottom{
    display: flex;
    /* justify-content: flex-start; */
}

.third-pm{
    margin-top: 15px;
    display: flex;
    margin-left: 0;
}

.third-pm-img{
    margin-left: 0;
    height: 50px;
    width: 50px;
}
/* .third-pm{
    display: flex;
    
} */

.span-3{
    font-size: 5px;
}

.third-pm-text{
    /* display: flex;
    flex-direction: column; */
    margin: auto; 
    margin-left: 0;
    margin-right: 15px;
}

.third-pm-prize, .third-pm-amount{
    margin: auto;
    color: white;
    font-family: Azonix;
    font-size: 6px;
}


#ml1, #ml2{
    margin-left: 0px;
}

}



