.AboutBox {
    width: fit-content;
    height: fit-content;
  
    margin-top: 70px;
    margin-bottom: 15px;
}

.AboutParent{
    display: flex;
    
    justify-content: center;
    align-items: center;
}

.AboutBoxTopBar {
    background-color:white;
    padding: 5px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  
    padding: 6px;
}

.reddot {
    height: 15px;
    width: 15px;
    background-color: rgb(255, 50, 50);
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
}

.yellowdot {
    height: 15px;
    width: 15px;
    background-color: rgb(185, 185, 0);
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
}

.greendot {
    height: 15px;
    width: 15px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
}

.AboutBoxBody {
    width: 700px;
    height: 350px;
    background-color: rgb(17, 31, 51);
    color: white;
    border-bottom: 1px solid rgb(17, 31, 51);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    scrollbar-color:  rgb(17, 31, 51);
    scroll-behavior: smooth;
    overflow: auto;
    padding: 20px;

}

.main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.num{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 8px;
    margin-left: 0px;
    font-size: 20px;
    color: grey;
}

.type {
    font-family: 'consolas';
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 20px;
    color: #0000;
    background:
        linear-gradient(-90deg, var(--c5) 1px, #0000 0) 10px 0,
        linear-gradient(var(--c5) 0 0) 0 0;
    background-size: calc(var(--n)*1ch) 200%;
    -webkit-background-clip: padding-box, text;
    background-clip: padding-box, text;
    background-repeat: no-repeat;
    animation:
        b .7s infinite steps(1),
        t calc(var(--n)*.100s) steps(var(--n)) forwards;
        --n: 2000;
        animation-iteration-count: infinite;
}

@keyframes t {
    from {
        background-size: 0 200%
    }
}

@keyframes b {
    50% {
        background-position: 0 -100%, 0 0
    }
}

@media screen and (max-width: 768px) {
    .AboutBox {
        margin-left: 0px;
        margin-top: 0px;
        margin-bottom: 15px;
    }

    .AboutBoxTopBar {
        margin-left: 0px;
    }

    .AboutBoxBody {
        width: 100%;
        margin-left: 0px;
    }

    .AboutParent{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
}
