.container1{
  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  
}

#galaxy {
  width: 80%
  // border: 2px solid red;
  // margin-top: 150px;
  // margin-right: 750px;
  // margin-bottom: -1250px;
}

#galaxy-earth_to {
  animation: galaxy-earth_to__to 3000ms linear infinite normal forwards;
}

@keyframes galaxy-earth_to__to {
  0% {
    transform: translate(325px, 325px);
  }

  20% {
    transform: translate(325.000009px, 339.205204px);
  }

  43.333333% {
    transform: translate(325.000009px, 324.747994px);
  }

  66.666667% {
    transform: translate(325.000008px, 311.110006px);
  }

  100% {
    transform: translate(325.000008px, 324.747994px);
  }
}

#galaxy-outer_circle_tr {
  animation: galaxy-outer_circle_tr__tr 5000ms linear infinite normal forwards;
}

@keyframes galaxy-outer_circle_tr__tr {
  0% {
    transform: translate(324.5px, 325px) rotate(0deg);
  }

  100% {
    transform: translate(324.5px, 325px) rotate(-360.000001deg);
  }
}

#galaxy-c7_tr {
  animation: galaxy-c7_tr__tr 5000ms linear infinite normal forwards;
}

@keyframes galaxy-c7_tr__tr {
  0% {
    transform: translate(120px, 128px) rotate(0deg);
  }

  100% {
    transform: translate(120px, 128px) rotate(359.999997deg);
  }
}

#galaxy-c8_tr {
  animation: galaxy-c8_tr__tr 5000ms linear infinite normal forwards;
}

@keyframes galaxy-c8_tr__tr {
  0% {
    transform: translate(42.114967px, 325px) rotate(0deg);
  }

  100% {
    transform: translate(42.114967px, 325px) rotate(359.999997deg);
  }
}

#galaxy-c6_tr {
  animation: galaxy-c6_tr__tr 5000ms linear infinite normal forwards;
}

@keyframes galaxy-c6_tr__tr {
  0% {
    transform: translate(325px, 40px) rotate(0deg);
  }

  100% {
    transform: translate(325px, 40px) rotate(359.999997deg);
  }
}

#galaxy-c1_tr {
  animation: galaxy-c1_tr__tr 5000ms linear infinite normal forwards;
}

@keyframes galaxy-c1_tr__tr {
  0% {
    transform: translate(120px, 522px) rotate(0deg);
  }

  100% {
    transform: translate(120px, 522px) rotate(359.999997deg);
  }
}

#galaxy-c2_tr {
  animation: galaxy-c2_tr__tr 5000ms linear infinite normal forwards;
}

@keyframes galaxy-c2_tr__tr {
  0% {
    transform: translate(325px, 610px) rotate(0deg);
  }

  100% {
    transform: translate(325px, 610px) rotate(359.999997deg);
  }
}

#galaxy-c3_tr {
  animation: galaxy-c3_tr__tr 5000ms linear infinite normal forwards;
}

@keyframes galaxy-c3_tr__tr {
  0% {
    transform: translate(541.996582px, 514.5px) rotate(0deg);
  }

  100% {
    transform: translate(541.996582px, 514.5px) rotate(359.999997deg);
  }
}

#galaxy-c4_tr {
  animation: galaxy-c4_tr__tr 5000ms linear infinite normal forwards;
}

@keyframes galaxy-c4_tr__tr {
  0% {
    transform: translate(610px, 325px) rotate(0deg);
  }

  100% {
    transform: translate(610px, 325px) rotate(359.999997deg);
  }
}

#galaxy-c5_tr {
  animation: galaxy-c5_tr__tr 5000ms linear infinite normal forwards;
}

@keyframes galaxy-c5_tr__tr {
  0% {
    transform: translate(537px, 140px) rotate(0deg);
  }

  100% {
    transform: translate(537px, 140px) rotate(359.999997deg);
  }
}