.AboutBox {
    width: fit-content;
    height: fit-content;
    margin-left: 150px;
    margin-top: 70px;
}

.AboutBoxTopBar {
    background-color:white;
    padding: 5px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin-left: 550px;
    padding: 6px;
}

.reddot {
    height: 25px;
    width: 25px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
}

.yellowdot {
    height: 25px;
    width: 25px;
    background-color: yellow;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
}

.greendot {
    height: 25px;
    width: 25px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
}

.AboutBoxBody {
    width: 750px;
    height: 350px;
    background-color: #180828;
    color: white;
    border-bottom: 1px solid #7A2BAA;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: auto;
    padding: 30px;
    margin-left: 550px;
}


.type {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #0000;
    background:
        linear-gradient(-90deg, #A36CE0 1px, #0000 0) 10px 0,
        linear-gradient(#A36CE0 0 0) 0 0;
    background-size: calc(var(--n)*1ch) 200%;
    -webkit-background-clip: padding-box, text;
    background-clip: padding-box, text;
    background-repeat: no-repeat;
    animation:
        b .7s infinite steps(1),
        t calc(var(--n)*.100s) steps(var(--n)) forwards;
        --n: 2000;
}

@keyframes t {
    from {
        background-size: 0 200%
    }
}

@keyframes b {
    50% {
        background-position: 0 -100%, 0 0
    }
}

