.prizes-bg {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1) 0%,
        #800080a0 55%,
        #800080a0 45%,
        rgba(0, 0, 0, 1) 100%
      ), url("../../assets/backgrounds/space.jpg");
      background-attachment: fixed;;
    padding: 50px;
}

.prize-text {
    text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.75);
 
    text-align: center;
    color: #ffffff;
}

.prize-row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.prize-box {
    height: 400px;
    width: 300px;
    border-radius: 15px;
    padding: 18px 30px 4px;
    background-color: #180828;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin: 0 4%;
    border-bottom: 10px solid rgb(253 133 61);
}

.trophy {
    height: 100%;
    width: 100%;

}

.prize-position, .prize-amount{
    text-shadow: 0 2px 8px rgb(253 133 61);
    color: white;
    line-height: 1.2;
    font-weight: 700;
}

.first-prize{
    height: 290px;
    width: 190px;
}

@media (min-width:716px) and (max-width:992px) {

    .prize-box{
        height: 300px;
        width: 200px;
    }

    .prize-amount,.prize-position{
        font-size: 1.2rem;
    }

    .first-prize{
        height: 185px;
        margin-bottom: 18px;
    }

    
}

@media screen and (max-width:715px) {
    .prize-box{
        height: 250px;
        width: 200px;
    }

    .first-prize{
        height: 160px;
        width: 150px;
    }

    .prize-amount,.prize-position{
        font-size: 1rem;
    }

    
}

@media screen and (max-width:660px) {
    .prize-box{
        height: 200px;
        max-width: 160px;
    }

    .first-prize{
        height: 110px;
        width: 100px;
    }

    .prize-amount,.prize-position{
        font-size: 0.9rem;
    }

}

@media screen and (max-width:620px) {
    .row-2 .prize-box{
        height: 150px;
        width: 150px;
    }

    .first-prize{
        height: 110px;
        width: 100px;
    }

    .prize-amount,.prize-position{
        font-size: 0.9rem;
        text-align: center;
    }

}

@media screen and (max-width:450px) {
    .prize-box{
        height: 160px;
        width: 150px;
    }

    .first-prize{
        height: 80px;
        width: 70px;
    }

    .prize-amount,.prize-position{
        font-size: 0.9rem;
        text-align: center;
    }

}

