* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: sans-serif;
}

:root {
    --clr: #A36CE0;
    --bg: #7A2BAA;
    --text: #180828;
    --background: #180828;
    --light: #fff;
}

.footer {
    /* position: fixed; */
    /* position: absolute; */
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: var(--background);
    padding: 1rem;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    justify-items: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    margin: 1rem 0;
    /* margin-bottom: 1rem; */
}

.container .box {
    min-width: 10rem;
    height: auto;
    /* border: 1px solid #000000; */
    padding: 1rem;
}

.container .box .content img {
    width: 100%;
    /* border: 1px solid #ddd; */
    border-radius: 4px;
    /* max-width: 12.5rem; */
}

.container .box .content p {
    text-align: justify;
    font-size: 1.1rem;
    color: var(--light);
    font-weight: 400;
}

.container .box h2 {
    margin-bottom: 1rem;
    color: var(--clr);
    font-weight: 700;
    font-size: 1.4rem;
}


/* .container .posts {
    margin-right: 3rem;
} */


/* quick links */


/* .container .quick_links {
    margin-left: 3rem;
} */

.container .quick_links .content ul {
    padding-left: 0;
}

.container .quick_links .content ul li {
    /* margin-right: 1rem; */
    margin: 0.3rem 0;
    list-style: none;
}

.container .quick_links .content ul li a {
    text-decoration: none;
    text-align: justify;
    font-size: 1.037rem;
    font-weight: 400;
    color: var(--light);
}

.container .quick_links .content ul li a:hover {
    color: var(--bg);
}


/* end links */


/* social icons */

.container .box .content ul {
    padding-left: 0;
}

.container .box .content .social_icon {
    display: flex;
    list-style: none;
}

.container .box .content .social_icon li {
    margin: 0 0.2rem;
}

.container .box .content .social_icon li a {
    font-size: 2rem;
    color: var(--bg);
    margin: 0 10px;
    display: inline-block;
    transition: 5ms;
}

.container .box .content .social_icon li a:hover {
    /* transform: translateY(-10px); */
    transform: scale(1.2);
    color: var(--clr);
}

.footer .copyright .content {
    text-align: center;
    color: var(--light);
}

.footer{
    background:#272727
}

.copyright{
    text-align: center;
    background: #121212;
    color: var(--light);
    padding:10px;
}

@media (max-width: 1100px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-items: space-evenly;
        flex-wrap: wrap;
        gap: 1rem;
        padding: 1rem;
        margin: 2rem 0;
    }
}

@media (max-width: 700px) {
    .container {
        display: block;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 1rem;
        padding: 1rem;
        margin: 2rem 0;
    }
    .container .quick_links {
        margin-left: 0;
    }
}

@media (max-width: 600px) {
    /* .footer {
        padding: 0;
    }
    .container {
        padding: 1rem;
        margin: 1rem 0;
    }
    .container .box {
        padding: 0rem;
    } */
    .container .quick_links .content ul {
        padding-left: 0;
    }
}


/* comment */