.formTitle{
    color: #800080;
}

.bgPurple{
    background-color: #A36CE0!important;
}

.textPurple{
    color: #A36CE0!important;
}

.bgBlue{
    background-color: #200878 !important;
}

.form1{
    width: 600px;
    margin: auto;
    margin-top: 30px;
    outline:none;
    border:none;
}