


*::-webkit-scrollbar {
    width: 7px;
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background: var(--c5);
}

:root {
    --c1: #200878;
    --c2: #100848;
    --c3: #180828;
    --c4: #7A2BAA;
    --c5: #bf87ff;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-gap: 1.5vmin;
}

.form-h1 {
    text-align: center;
    color: #bf87ff;
    font-weight: 800;
    letter-spacing: 1.8px;
    text-shadow: 0 0 1vmin rgba(0, 0, 0, 0.516);
    font-size: 60px;
    /* font-family: 'Scarlex'; */
}
.form-h3{
    text-align: center;
    color: #bf87ff;
    font-size: 36px;
    font-weight: 400;
    text-shadow: 0 0 3px black;
}
.form-hr{
    border-color: black;
}

.marginal{
    margin-top: 85px;
}

.form-main-container {
    width: 100vw;
    background-image: url("../../assets/backgrounds/space2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
    
}

.problem-statement-container {
    width: 100vw;
}

.problem-statement-container textarea {
    max-height: none;
    height: 150px;
    resize: none;
}

.team-container {
    width: 100vw;
}

.details-container {
    width: 100%;
    height: 100%;
}

.form-heading {
    margin: 1vmin 0 0 0;
    grid-column: 1/13;
    grid-row: span 1;
    padding: 0 0 0 10px;
    font-size: 2.4vmin;
    letter-spacing: 1.5px;
    font-weight: 600;
    color: var(--c5);
}

.form-heading:nth-child(1) {
    margin: 0;
}

.form-control {
    grid-column: 1/13;
    /* height: 3.5vmin; */
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 5px 0 5px 10px;
    letter-spacing: 1.5px;
    border: 3px solid #00000000;
    color: aliceblue;
    background: var(--c2);
}

.form-control::placeholder {
    color: rgb(209, 209, 209);
}

.form-control:focus {
    border: 2px solid var(--c5);
    font-weight: 500;
}

.half-form {
    grid-column: span 6 !important;
}

.team-leader-container,
.team-member1-container,
.team-member2-container,
.team-member3-container,
.blur-container {
    padding: 2vmin;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.362);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 0.5vmin 0vh;
}

@media only screen and (max-width: 600px) {
    .problem-statement-container,.team-container{
        padding: 0 2.5vw;
    }
    .form-heading {
        font-size: 18px;
    }

    .form-control {
        height: auto;
        font-size: 13px;
    }
    .form-h1{
        font-size: 35px;
    }
    .form-h3{
        font-size: 25px;
    }
    .team-container {
        padding: 4vh 2vw;
    }

    .team-leader-container {
        grid-column: 1/13;
        /* grid-row: 1/2; */
    }

    .team-member1-container {
        grid-column: 1/13;
        /* grid-row: 2/3; */
    }

    .team-member2-container {
        grid-column: 1/13;
        /* grid-row: 2/3; */
    }

    .team-member3-container {
        grid-column: 1/13;
        /* grid-row: 2/3; */
    }


    .form-heading {
        grid-column: 1/13;
        font-size: 18px;
    }

    .form-control {
        grid-column: 1/13;
    }
    .problem1-container,
    .problem2-container,
    .problem3-container,
    .problem4-container,
    .problem5-container {
        grid-column: span 12;
    }
}

@media only screen and (min-width: 600px) {
    
    .team-container,
    .problem-statement-container {
        padding: 4vh 5vw;
    }

    .team-leader-container {
        grid-column: 5/9;
        grid-row: 1/2;
    }

    .team-member1-container {
        grid-column: 1/5;
        grid-row: 2/3;
    }

    .team-member2-container {
        grid-column: 5/9;
        grid-row: 2/3;
    }

    .team-member3-container {
        grid-column: 9/13;
        grid-row: 2/3;
    }


    .form-heading {
        grid-column: 1/13;
        font-size: 22px;
    }

    .form-control {
        grid-column: 1/13;
    }

    .problem1-container,
    .problem2-container,
    .problem3-container,
    .problem4-container,
    .problem5-container {
        grid-column: span 4;
    }
}