.textPurple{
    color: #7A2BAA;
}

.textBlue{
    color: #A36CE0;
}

.bgBlue{
    background-color: #A36CE0;
}

.Link{
    text-decoration: none;
    color: aliceblue;
}

.Link:hover{
    text-decoration: none;
    color: aliceblue;
}

.hLight{
    color: #A36CE0;
    font-weight: 350%;
}

.ruleList{
    list-style-type: "🚀 ";
    text-align: justify;
}

.ruleList li{

    margin: 10px;
}

@media only screen and (max-width: 420px) {
    
.ruleList li{

    margin: 5px;
}

}